@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #edebe6;
}

.bg-blue-500 {
  background-color: rgb(141, 207, 202);
}

.hover\:bg-blue-600:hover {
  background-color: #51cfc9;
}

.focus\:ring-blue-500 {
  --tw-ring-color: rgb(71, 212, 201);
}

.completed {
  text-decoration: line-through;
  color: gray;
}

::-webkit-scrollbar {
  display: none;
}
