@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #edebe6;
}

.bg-blue-500 {
  background-color: rgb(141, 207, 202);
}

.hover\:bg-blue-600:hover {
  background-color: #51cfc9;
}

.focus\:ring-blue-500 {
  --tw-ring-color: rgb(71, 212, 201);
}

.completed {
  text-decoration: line-through;
  color: gray;
}

/* Previene comportamientos no deseados en móviles */
@media (max-width: 767px) {
  html {
    height: 100%;
    overflow: hidden;
  }

  body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    width: 100%;
  }

  input,
  textarea {
    font-size: 16px !important;
    touch-action: manipulation;
  }

  /* Evita que el teclado mueva elementos */
  .form-container {
    transform: translate3d(0, 0, 0);
  }
}
